body {
    background-color: var(--background-color, #807a00);
    display: grid;
    place-items: center;
    /* color: var(--background-colour); */
}

h1 {
    /* font-size: 3rem; */
    /* text-align: center; */
    color: var(--font-color-title, pink);
}

p {
    color: var(--font-color-sentence, green);
}

footer p {
    color: powderblue;
}

main {
    display: grid;
    place-items: center;
    gap: 3rem;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;

    border-color: var(--border-color, pink);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

footer {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}
